
.slider {
    display: flex;
    width: 400vw;
    gap: 3rem;
    background-color: var(--azul-oscuro);
}

.outer, body, html {
  overflow: hidden !important;

}

@media screen and (min-width: 760px) {
  .slider {
    gap: 0;
  }
}
.section {
    min-width: 100vw;
    min-height: 100vh;
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cursos */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

:root {
    --blue: #1890ff;
    --green: #01c3a8;
    --orange: #ffb741;
    --red: #a63d2a;
}

.card {
  position: relative;
  z-index: 555;
  width: 50%;
  max-width: 70rem;
  min-height: 30rem;
  width: 90%;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  box-shadow: 1px 12px 25px rgb(0 0 0 / 78%);
  border-radius: 2.25rem;
}

.card::before {
    position: absolute;
    content: "";
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.25rem;
  z-index: -1;
  border: 0.155rem solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 0.5em 0em 1.5em;
}

.card-header .date {
  color: #ddd;
  font-size: 1.25rem;
}

.card-header svg {
  color: #fff;
  width: 2.5rem;
  cursor: pointer;
}

.card-body {
  position: absolute;
  width: 100%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7em 1.25em 0.5em 1.5em;
}

.card-body h3 {
  color: #fff;
  font-size:2.75rem;
  margin-top: 0.625em;
  margin-bottom: 0.188em;
  text-transform: capitalize;
  font-weight: 600;
}

.card-body p {
  color: #ddd;
  font-size: 1.5rem;
  letter-spacing: 0.031rem;
  margin-bottom: 2rem;
}

.card-body .progress {
  margin-top: 0.938rem;
}

.card-body .progress span:first-of-type {
  color: #fff;
  text-align: left;
  font-weight: 600;
  width: 100%;
  display: block;
  margin-bottom: 0.313rem;
  font-size: 1.25rem;
}

.card-body .progress span {
  margin-top: 0.313rem;
  text-align: right;
  display: block;
  color: #fff;
  font-size: 2rem;
}

.card-body .progress-bar {
  position: relative;
  width: 100%;
  background: #363636;
  height: 0.313rem;
  display: block;
  border-radius: 3.125rem;
}

.card-body .progress-bar::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
  border-radius: 3.125rem;
}

@media screen and (max-width: 475px) {
    .card {
        width: 100%;
        border-radius: 0rem;
    }
    .card::before {
        border-radius: 0;
    }

    .main-inicio {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 0.063rem solid #292929;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 1.25em 0.5em 1.5em;
  background: #151419;
  border-bottom-left-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
}

.card-footer ul {
  display: flex;
  align-items: center;
}

.card-footer ul li {
  list-style-type: none;
  display: flex;
  margin-right: -0.625rem;
}

.card-footer ul li img {
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  object-fit: cover;
}

.card-footer .btn-add {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer .btn-add svg {
  width: 1rem;
}

.card-footer .btn-countdown {
  background: #222127;
  color: #fff;
  border-radius: 2em;
  padding: 0.625rem 1.5rem;
  font-size: 1.25rem;
}

.green {
  background: radial-gradient(
    ellipse at right top,
    #107667ed 0%,
    #151419 47%,
    #151419 100%
  );
}

.green::before {
  background: linear-gradient(
    45deg,
    #232228,
    #232228,
    #232228,
    #232228,
    var(--green)
  ) border-box;
}

.green .btn-add {
  background: var(--green);
}

.green .progress-bar::after {
  width: var(--progreso, 0%); /* Modificar estoooooooooooooooooooooooooooooooooooooooooooooo*/
  background: var(--green);
}

.green .btn-countdown:hover {
  background: var(--green);
}

.blue {
  background: radial-gradient(
    ellipse at right top,
    #00458f8f 0%,
    #151419 45%,
    #151419 100%
  );
}

.blue::before {
  background: linear-gradient(
    45deg,
    #232228,
    #232228,
    #232228,
    #232228,
    var(--blue)
  ) border-box;
}

.blue .btn-add {
  background: var(--blue);
}

.blue .progress-bar::after {
    width: var(--progreso, 0%); /* Modificar estoooooooooooooooooooooooooooooooooooooooooooooo*/
  background: var(--blue);
}

.blue .btn-countdown:hover {
  background: var(--blue);
}

.orange {
  background: radial-gradient(
    ellipse at right top,
    #ffb74194 0%,
    #151419 47%,
    #151419 100%
  );
}

.orange::before {
  background: linear-gradient(
    45deg,
    #232228,
    #232228,
    #232228,
    #232228,
    var(--orange)
  ) border-box;
}

.orange .btn-add {
  background: var(--orange);
}

.orange .progress-bar::after {
    width: var(--progreso, 0%); /* Modificar estoooooooooooooooooooooooooooooooooooooooooooooo*/
  background: var(--orange);
}

.orange .btn-countdown:hover {
  background: var(--orange);
}

.red {
  background: radial-gradient(
    ellipse at right top,
    #a63d2a82 0%,
    #151419 47%,
    #151419 100%
  );
}

.red::before {
  background: linear-gradient(
    45deg,
    #232228,
    #232228,
    #232228,
    #232228,
    var(--red)
  ) border-box;
}

.red .btn-add {
  background: var(--red);
}

.red .progress-bar::after {
    width: var(--progreso, 0%); /* Modificar estoooooooooooooooooooooooooooooooooooooooooooooo*/
  background: var(--red);
}

.red .btn-countdown:hover {
  background: var(--red);
}

.icon {
    position: absolute;
    width: 75px;
    height: 75px;
    object-fit: contain;
    z-index: 10;
    opacity: 0.8;
}

.section {
    position: relative;
}

.icon1 { top: 85%; left: 10%; transform: scale(1) rotate(10deg);}
.icon2 { top: 60%; left: -10%;}
.icon3 { top: 85%; left: 30%;  transform: rotate(-10deg)}
.icon4 { top: 25%; left: -7%;}
.icon5 { top: 85%; left: 55%; transform: rotate(-10deg)}
.icon6 { top: 10%; left: 18%; transform: scale(1.2) rotate(10deg)}
.icon7 { top: 15%; left: 53%; transform: scale(.8) rotate(-10deg)}
.icon8 { top: 10%; left: 70%; transform: scale(1) rotate(10deg);}
.icon9 { top: 30%; left: 85%; transform: scale(.7) rotate(10deg)}
.icon10 { top: 60%; left: 10%; transform: scale(1.3);}
.icon11 { top: 3%; left: 90%; transform: scale(.8) rotate(10deg);}
.icon12 { top: 85%; left: 75%; transform: scale(1.3);}
